{% extends "layout.html"%}
{% set active_page = "index" %}
 {%block title%}index{%endblock%} 
    
    <!--page content-->
    {%block content%}
    <h1>Medal Of Honor</h1>
	<p>This website is going to be about soldiers form all of the branches of the military that had received the medal in the war they had served. What the Medal Of Honor is when a soldier has done something brave even risking their life above the call of duty. The most received metal of Metal of Honor was during the Civil War(Apr 12, 1861 – May 9, 1865) and the medals received was 1522.</p>
	<p>Most of the people that served died due to natural causes, died in combat, or still living. The soldiers with the medals of honor are with the U.S Army branch, 2nd is marines, 3rd is Air Force, 4th is Navy with, none for Coast Guard. In the Army and Marines the Medal Of Honor that gets received the most is people in the Infantry division, and the wars that they most soldiers fought was WW2 and NAM</p>
	<p>source from https://history.army.mil/moh/index.html</p>    
    {%endblock%}